<app-header></app-header>
<img src="/assets/img/return.png" alt="" (click)="return()" class="icon-return">
<div class="productos">
    <p class="productos_text">Transaction</p>
</div>
<app-date-picker></app-date-picker>
<section class="detalles">
    <div class="contenedor">
        <div class="line"></div>
        <div class="layout">
            <span class="number">$100.000.oo</span>
            <span class="text_amount">Payment of Installment</span>
            <span class="number_two">00-00-000</span>
        </div>
    </div>

    <div class="contenedor">
        <div class="line"></div>
        <div class="layout">
            <span class="number">$100.000.oo</span>
            <span class="text_amount">Payment of Installment</span>
            <span class="number_two">00-00-000</span>
        </div>
    </div>

    <div class="contenedor">
        <div class="line"></div>
        <div class="layout">
            <span class="number">$100.000.oo</span>
            <span class="text_amount">Payment of Installment</span>
            <span class="number_two">00-00-000</span>
        </div>
    </div>


    <div class="contenedor">
        <div class="line"></div>
        <div class="layout">
            <span class="number">$100.000.oo</span>
            <span class="text_amount">Payment of Installment</span>
            <span class="number_two">00-00-000</span>
        </div>
    </div>

    <div class="contenedor">
        <div class="line"></div>
        <div class="layout">
            <span class="number">$100.000.oo</span>
            <span class="text_amount">Payment of Installment</span>
        </div>
    </div>
</section>
