<app-header></app-header>
<img src="/assets/img/return.png" alt="" (click)="return()" class="icon-return">
<div class="productos">
    <p class="productos_text">PORTFOLIO LOAN PL-00</p>
</div>
<section class="pl">
    <div class="contenedor">
        <div class="line"></div>
        <span class="icon">
            <img src="./assets/img/dolar.png" alt="icono de dolar" class="img-icon">
        </span>
        <div class="layout">
            <span class="number">$100.000.oo</span>
            <span class="text_amount">Amount</span>
        </div>
    </div>

    <div class="contenedor">
        <div class="line"></div>
        <span class="icon">
            <img src="./assets/img/line.png" alt="icono de dolar" class="img-icon">
        </span>
        <div class="layout">
            <span class="number">$100.000.oo</span>
            <span class="text_amount">Amount</span>
        </div>
    </div>

    <div class="contenedor">
        <div class="line"></div>
        <span class="icon">
            <img src="./assets/img/data.png" alt="icono de database" class="img-icon">
        </span>
        <div class="layout">
            <span class="number">$100.000.oo</span>
            <span class="text_amount">Amount</span>
        </div>
    </div>


    <div class="contenedor">
        <div class="line"></div>
        <span class="icon">
            <img src="./assets/img/cuadricula.png" alt="icono de cuadricula" class="img-icon">
        </span>
        <div class="layout">
            <span class="number">$100.000.oo</span>
            <span class="text_amount">Amount</span>
        </div>
    </div>
</section>

<div class="transaction">
    <button class="btn-transaction">Transaction</button>
    <img src="./assets/img/next_icon.png" alt="" class="next_icon" (click)="goProduct()">
</div>