<app-header></app-header>
<img src="/assets/img/return.png" alt="" (click)="return()" class="icon-return">
<div class="productos">
    <p class="productos_text">PORTFOLIO LOAN</p>
</div>
<div class="container">
    <article class="info">
        <div class="line"></div>
        <span class="text-portafolio">Portafolio Loan PL-000</span>
        <div class="amount_date">
            <span class="text_amount_date">Amount</span>
            <span class="text_amount_date">Investment Date</span>
        </div>
        <div class="amount_date number">
            <span class="number-date">$12,312,000,00</span>
            <span class="number-date">12-90-0000</span>
        </div>
        <div class="amount_date">
            <span class="monthly">Monthly Installment</span>
        </div>
        <div class="amount_date">
            <span class="number-end">$81.081.oo</span>
            <article class="number_icon">
                <img src="./assets/img/notebook.png" alt="icono de cuaderno" class="icon">
                <img src="./assets/img/eyes.png" alt="icono de ojo" class="icon" (click)="goPL()">
            </article>
        </div>
    </article>
    <hr>

    <article class="info">
        <div class="linee"></div>
        <span class="text-portafolio">Portafolio Loan PL-000</span>
        <div class="amount_date">
            <span class="text_amount_date">Amount</span>
            <span class="text_amount_date">Investment Date</span>
        </div>
        <div class="amount_date number">
            <span class="number-date">$4,230,120,00</span>
            <span class="number-date">64-10-1100</span>
        </div>
        <div class="amount_date">
            <span class="monthly">Monthly Installment</span>
        </div>
        <div class="amount_date">
            <span class="number-end">$67.010.oo</span>
            <article class="number_icon">
                <img src="./assets/img/notebook.png" alt="icono de cuaderno" class="icon">
                <img src="./assets/img/eyes.png" alt="icono de ojo" class="icon" (click)="goPL()">
            </article>
        </div>
    </article>
    <hr>

    <article class="info">
        <div class="line"></div>
        <span class="text-portafolio">Portafolio Loan PL-000</span>
        <div class="amount_date">
            <span class="text_amount_date">Amount</span>
            <span class="text_amount_date">Investment Date</span>
        </div>
        <div class="amount_date number">
            <span class="number-date">$9,828,191,00</span>
            <span class="number-date">91-33-9200</span>
        </div>
        <div class="amount_date">
            <span class="monthly">Monthly Installment</span>
        </div>
        <div class="amount_date">
            <span class="number-end">$67.230.oo</span>
            <article class="number_icon">
                <img src="./assets/img/notebook.png" alt="icono de cuaderno" class="icon">
                <img src="./assets/img/eyes.png" alt="icono de ojo" class="icon" (click)="goPL()">
            </article>
        </div>
    </article>
    <hr>

    <article class="info">
        <div class="line"></div>
        <span class="text-portafolio">Portafolio Loan PL-000</span>
        <div class="amount_date">
            <span class="text_amount_date">Amount</span>
            <span class="text_amount_date">Investment Date</span>
        </div>
        <div class="amount_date number">
            <span class="number-date">$10,535,191,00</span>
            <span class="number-date">35-34-7772</span>
        </div>
        <div class="amount_date">
            <span class="monthly">Monthly Installment</span>
        </div>
        <div class="amount_date">
            <span class="number-end">$56.900.oo</span>
            <article class="number_icon">
                <img src="./assets/img/notebook.png" alt="icono de cuaderno" class="icon">
                <img src="./assets/img/eyes.png" alt="icono de ojo" class="icon" (click)="goPL()">
            </article>
        </div>
    </article>
    <hr>

    <article class="info">
        <div class="line"></div>
        <span class="text-portafolio">Portafolio Loan PL-000</span>
        <div class="amount_date">
            <span class="text_amount_date">Amount</span>
            <span class="text_amount_date">Investment Date</span>
        </div>
        <div class="amount_date number">
            <span class="number-date">$10,535,191,00</span>
            <span class="number-date">35-34-7772</span>
        </div>
        <div class="amount_date">
            <span class="monthly">Monthly Installment</span>
        </div>
        <div class="amount_date">
            <span class="number-end">$56.900.oo</span>
            <article class="number_icon">
                <img src="./assets/img/notebook.png" alt="icono de cuaderno" class="icon">
                <img src="./assets/img/eyes.png" alt="icono de ojo" class="icon" (click)="goPL()">
            </article>
        </div>
    </article>
    <hr>

    <article class="info">
        <div class="line"></div>
        <span class="text-portafolio">Portafolio Loan PL-000</span>
        <div class="amount_date">
            <span class="text_amount_date">Amount</span>
            <span class="text_amount_date">Investment Date</span>
        </div>
        <div class="amount_date number">
            <span class="number-date">$10,535,191,00</span>
            <span class="number-date">35-34-7772</span>
        </div>
        <div class="amount_date">
            <span class="monthly">Monthly Installment</span>
        </div>
        <div class="amount_date">
            <span class="number-end">$56.900.oo</span>
            <article class="number_icon">
                <img src="./assets/img/notebook.png" alt="icono de cuaderno" class="icon">
                <img src="./assets/img/eyes.png" alt="icono de ojo" class="icon" (click)="goPL()">
            </article>
        </div>
    </article>
    <hr>

    <article class="info">
        <div class="line"></div>
        <span class="text-portafolio">Portafolio Loan PL-000</span>
        <div class="amount_date">
            <span class="text_amount_date">Amount</span>
            <span class="text_amount_date">Investment Date</span>
        </div>
        <div class="amount_date number">
            <span class="number-date">$10,535,191,00</span>
            <span class="number-date">35-34-7772</span>
        </div>
        <div class="amount_date">
            <span class="monthly">Monthly Installment</span>
        </div>
        <div class="amount_date">
            <span class="number-end">$56.900.oo</span>
            <article class="number_icon">
                <img src="./assets/img/notebook.png" alt="icono de cuaderno" class="icon">
                <img src="./assets/img/eyes.png" alt="icono de ojo" class="icon" (click)="goPL()">
            </article>
        </div>
    </article>
    <hr>
</div>